.atoms-button{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  color: #fff;
}

.atoms-button.primary {
  background-color: rgb(64, 135, 230);
}
.atoms-button.default {
  background-color: rgb(64, 135, 230);
}
